%h1
  About
%h3
  The Company
%p
  Edible Systems is a small consulting firm, with the ability to bring in additional resources as the project requires.
  Small teams drastically reduce overhead, which means fewer resources wasted on management, redundant communication,
  and pointless processes. We have a focus on efficient delivery of robust, maintainable, and user-friendly solutions,
  and offer a true bespoke experience.

%dl
  %dt
    Bespoke /bɪˈspəʊk/
  %dd
    Made to order: written or adapted for a specific user or purpose.
    .credit
      \- Oxford Dictionaries

%p
  This means you will not be given some one-size-fits-all, re-skinned, or pre-packaged solution.

%h3
  The People
%h4
  Mathieu Gilbert
%p
  Mathieu is a talented software developer with over 4 years of professional IT experience. Having earned both
  an Engineering Physics degree from the U of A and a Computer Systems Technology diploma from NAIT, he has a hardened
  analytical mind with creative problem-solving abilities, which he applies in full-force in the software world.
%p
  Proficient in a variety of technologies, he can deliver a full-stack solution. This means everything from the robust database
  architecture through to your user-friendly interface will all be designed and developed to a consistently high
  professional standard and attention to detail. He spends time outside of work learning new techniques and
  best-practices, which is reflected in his quality results.