%h1
  What We Do For You

%h3
  Services
%ul
  %lh
    Consulting
  - ["Systems analysis and design", "Data modeling", "Estimates"].each do |i|
    %li
      = i
%ul
  %lh
    Contracting
  - ["Website design and development (basic web site or advanced web application)", "Adding features to your existing system", "Updates and maintenance work"].each do |i|
    %li
      = i

%h3
  Technologies
%ul
  %lh
    Languages
  - ["C#", "VB", "Ruby", "SQL", "HTML (ASP, ERB, HAML)", "CSS (SASS, LESS)", "JavaScript (jQuery, CoffeeScript)", "VBA (Microsoft Access)"].each do |i|
    %li
      = i
%ul
  %lh
    Frameworks
  - [".NET", "Microsoft Dynamics CRM 2011", "Ruby on Rails"].each do |i|
    %li
      = i
