$page-width: 900px;

@mixin center {
  margin-right: auto;
  margin-left: auto;
}

@mixin rounded-corners($rad) {
  border-top-left-radius: $rad;
  border-top-right-radius: $rad;
  border-bottom-left-radius: $rad;
  border-bottom-right-radius: $rad;
}

p {
  background-color: #335599;
}

footer, header {
  background-color: #7755dd;
}

body {
  font-family: Verdana;
  background-color: #9999ff;
  width: $page-width;
  @include center;
}

.nofloat {
  clear: both;
}

header {

  img {
    float: left;
  }

  h1 {
    padding-left: 320px;
    font-size: 5em;
    margin: 20px 0;
  }

  h2 {
    float: right;
    margin: 0 20px 0 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: list-item;
      text-align: center;
      float: left;
      @include rounded-corners(10px);
      border: 1px solid black;
      padding: 10px;
      margin: 10px;
      width: 6em;

    }
    li:hover {
      background-color: #996633;
      cursor: pointer;
      cursor: finger;
    }

  }
}

footer {
  text-align: center;

  .nav {
    display: inline-block;
  }
}

.content {
  width: auto;
  margin: 50px 70px;
  float: left;
  min-height: 400px;
}

.top-left {
  background-image: url('TL.png');
  width: 200px;
  height: 200px;
  float: left;
  margin-bottom: -200px;
}

.bottom-right {
  background-image: url('BR.png');
  width: 200px;
  height: 200px;
  float: right;
  margin-top: -200px;
}

dl {
  margin: 10px 50px;

  dt {
    font-weight: bold;
    padding-bottom: 8px;
  }

  dd {
    font-style: italic;
    font-size: 0.9em;

    .credit {
      font-size: 0.9em;
      text-align: right;
    }
  }

}